/Java/002-PreguntarNombre/nbproject/private/
/Java/002-PreguntarNombre/dist/
/Java/002-PreguntarNombre/build/
/Java/003-MyFirstClass/nbproject/private/
/Java/003-MyFirstClass/build/
/Java/004-MiniCalculadora/nbproject/private/
/Java/003-MyFirstClass/dist/
/Java/examples-002/nbproject/private/
/Java/examples-002/build/
/Java/004-MiniCalculadora/build/
/Java/005-Ambitos/nbproject/private/
/Java/005-Ambitos/build/
/Java/DnD5ed/nbproject/private/
/Java/DnD5ed/build/