/Java/002-PreguntarNombre/nbproject/private/
/Java/002-PreguntarNombre/dist/
/Java/002-PreguntarNombre/build/
/Java/003-MyFirstClass/nbproject/private/
/Java/003-MyFirstClass/build/
/Java/004-MiniCalculadora/nbproject/private/
/Java/003-MyFirstClass/dist/